.nav_logo{
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_logo > img{
    height: 9rem;
}
.carousel-inner{
    height: 40rem;
}
.carousel-control-prev{
    height: 40rem;
}
.carousel-control-next{
    height: 40rem;
}
.carouselExampleIndicators{
    height: 30rem;
}
.carousel-indicators{
    height: 5rem;
}

/* CARD */
.card{
    margin: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 0;
}
.main_card{
    width: 15rem;
    height: 25rem;
}
.cell_phone > img{
    width: 100%;
}
.text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text > p{
    line-height: 0.2rem;
    display: flex;
    justify-content: center;
}
.text > button{
    display: none;
}
.main_card:hover button{
    display: inline;
}
/* titulo */
.cnt{
    margin: 1rem auto;
    text-align: center;
    width: 70%;
    display: flex;
    align-items: center;
}
.cnt > .hr{
    height: 5px;
    width: 100%;
    background-color: black;
}
.cnt > h1{
    font-weight: 700;
}
/* footer */
.datos_alumno{
    margin-top: 2rem;
    width: 100%;
    height: 30vh;
    background-color: rgb(224, 220, 220);
    color: rgb(94, 94, 94);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.datos_alumno > ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.datos_alumno > ul > li{
    margin: 0 1rem;
}
.datos_alumno > ul > li > ul{
    list-style: none;
}
.datos_alumno h2{
    font-size: 1.2rem;
}
.dts{
    color: white;
    background-color: black;
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dts > h2{
    font-size: 1.3rem;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: 900;
    color: rgb(202, 54, 54);
}
@media screen and (max-width: 1470px){
    .carousel-inner{
        height: 40%;
    }
    .carousel-control-prev{
        height: 40vh;
    }
    .carousel-control-next{
        height: 40vh;
    }
    .carouselExampleIndicators{
        height: 40%;
    }
    .carousel-indicators{
        height: 2rem;
        top: 90%;
    }
}
@media screen and (max-width: 768px){
    .carousel-inner{
        height: 40%;
    }
    .carousel-control-prev{
        height: 30vh;
    }
    .carousel-control-next{
        height: 30vh;
    }
    .carouselExampleIndicators{
        height: 40%;
    }
    .carousel-indicators{
        height: 1rem;
        top: 90%;
    }
    .card{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .main_card{
        width: 45%;
        height: 33rem;
    }
    .cnt{
        width: 100%;
    }
    .datos_alumno > ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}